{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="header">
            <h1 class="page-title">Laboratoire 2</h1>
        </div>
        <form action="/labo2" method="POST">
            {% if erreur %}
                <p class="error">{{ erreur }}</p>
            {% endif %}
            <label for="nom">Nom</label>
            <input type="text" id="nom" name="nom" value="{{ nom }}" placeholder="Entrez votre nom">

            <label for="prenom">Prénom</label>
            <input type="text" id="prenom" name="prenom" value="{{ prenom }}" placeholder="Entrez votre prénom">

            <label for="age">Âge</label>
            <input type="text" id="age" name="age" value="{{ age }}" placeholder="Entrez votre âge">

            <div class="button-group">
                <button type="submit">Envoyer</button>
            </div>
        </form>
    </div>
{% endblock %}