{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="header">
            <h1 class="page-title">Confirmation</h1>
        </div>
        <div class="content center-content">
            <h2>Merci pour votre soumission ! Vos informations ont été correctement reçues.</h2>
            <div class="button-group">
                <button class="button-primary" onclick="location.href='/'">Retour à l'accueil</button>
            </div>
        </div>
    </div>
{% endblock %}
